@mixin outline($accent) {
    background: transparent;
    border: 0.0625rem solid $accent;
    color: $accent;
    fill: $accent;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            background: $accent;
            color: white;
        }
    }
}

.button {
    $self: &;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition--very-fast;
    user-select: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    appearance: none;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        // состояние для тапа
    }

    &:focus-visible {
        // фокус через клавиатуру
    }

    &--primary {
        background: $primary;
        color: white;
        fill: white;
    }

    &--secondary {
        background: $dark;
        color: white;
        fill: white;
    }

    &--outline {
        &#{$self}--primary {
            @include outline($primary);
        }

        &#{$self}--secondary {
            @include outline($dark);
        }

        font-weight: 500;
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}
