.input {
    $self: &;

    display: block;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: #d4d9e8;
    transition: $transition--normal;

    &:focus {
        // стили для активного инпута
    }

    &-wrap {
        &.has-error {
            #{$self} {
                border-color: $danger !important;
                color: $danger;
            }
        }

        &.has-success {
            #{$self} {
                border-color: $success !important;
                color: $success;
            }
        }
    }
}
