h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-headings;
    text-transform: uppercase;
    letter-spacing: 0.005em;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    line-height: 1.1;
}

.s1 {
    padding-top: 15.75rem;
    padding-bottom: 8.8125rem;

    &__bg {
        @include bg-ibg(white);
    }

    &__heading {
        font-size: 4.5rem;
        line-height: 1;
    }

    &__subtitle {
        max-width: 34.125rem;
        font-size: 1rem;
        margin-top: 2rem;
    }

    &__target-button {
        width: 23.625rem;
        line-height: 6.25rem;

        margin-top: 9.3125rem;
    }
}

.s2 {
    padding-top: 16.1875rem;
    padding-bottom: 7.5rem;

    &__heading {
        margin-bottom: 3.75rem;
    }

    &__hero-image {
        width: 100%;
        height: 33.8125rem;

        @include ibg(rgb(240, 236, 235));

        img {
            transition: 1s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }
    }

    &__list {
        width: 100%;
        display: flex;
    }

    &__list-item {
        padding-top: 1.125rem;
        height: 17.5rem;
        position: relative;
        border: 0.0625rem solid $border-gray;
        border-top: none;

        &--1 {
            padding-right: 3.875rem;
            padding-left: 2.5rem;
            width: 23.5625rem;
        }

        &--2 {
            padding-right: 3.875rem;
            padding-left: 3.875rem;
            width: 26.1875rem;
            border-left: none;
        }

        &--3 {
            padding-right: 3.75rem;
            padding-left: 3.875rem;
            width: 25.25rem;
            border-left: none;
        }

        &_number {
            font-weight: 500;
            font-size: 3rem;
            color: $primary;
        }

        &_text {
            font-size: 1.25rem;
        }

        &_button {
            width: calc(100% + 2px);
            line-height: 6.25rem;
            position: absolute;
            right: -1px;
            bottom: -1px;
        }
    }
}

.s3 {
    padding-top: 7.1875rem;
    padding-bottom: 8.125rem;

    &__heading {
        position: absolute;
        left: -4.1875rem;
        top: 4.875rem;
        transform: rotate(-90deg);
    }

    &__breadcrumbs {
        width: 52.775rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    &__breadcrumb {
        color: $text-gray;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 2rem;

        &--has-slash {
            &::after {
                content: '/';
                padding: 0 2.0625rem;
            }
        }

        &--slash-narrow {
            &::after {
                padding: 0 1.75rem;
            }
        }

        span {
            // @include hover-bold(600, 1.5rem);
            cursor: pointer;
            transition: 0.3s cubic-bezier(0.49, 0.44, 0.43, 1);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.125rem;
                background: currentColor;
                top: 90%;
                left: 0;
                pointer-events: none;

                transform-origin: 100% 50%;
                transform: scale3d(0, 1, 1);
                transition: transform 0.3s cubic-bezier(0.49, 0.44, 0.43, 1);
            }

            &:hover {
                // font-weight: 600;
                color: $primary;

                &::before {
                    transform-origin: 0% 50%;
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }

    &__preview-image-wrap {
        width: 31.25rem;
        height: 25.375rem;

        position: relative;
        margin: -1rem auto 0;

        &:hover {
            .s3__preview-image {
                height: 100%;
            }
        }
    }

    &__preview-star {
        width: 13.75rem;
        @include center-item;
    }

    &__preview-image {
        @include ibg(rgb(240, 236, 235));
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: $transition--normal;
    }

    &__preview-text {
        width: 10.5rem;
        position: absolute;
        bottom: 0;
        left: calc(100% + 1.5rem);
    }
}

.s4 {
    padding-top: 7.9375rem;
    padding-bottom: 6.25rem;

    &__heading {
        margin-bottom: 4.75rem;
    }

    &__slider {
    }

    &__slider-item {
        padding: 1.25rem;
        width: 33.65rem;
        height: 34.225rem;
        border: 0.0625rem solid $border-gray;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        &:active {
            cursor: grabbing;
        }
    }

    &__slider-image-container {
        height: 25.375rem;
        background: #f4f4f3;
        position: relative;

        margin-bottom: 1.5rem;

        img {
            width: 18.25rem;
            position: absolute;
            bottom: 0;
            left: 7.375rem;
        }
    }

    &__slider-item-title {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.3;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $text-headings;
        margin-bottom: 2rem;
    }

    &__slider-item-link {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        color: $text-gray;

        transition: $transition--hover;

        svg {
            width: 1.5rem;
            vertical-align: baseline;
            margin-left: 0.5rem;
        }

        &:hover {
            color: $primary;
        }
    }
}

.s5 {
    padding-top: 2.3125rem;
    padding-bottom: 9.375rem;

    &__star-image {
        width: 39.3125rem;
        position: absolute;
        right: 1.5rem;
        top: 0;
    }

    &__float-title {
        font-size: 1.125rem;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $text-gray;
        transform: rotate(90deg);
        position: absolute;
        top: 19.0625rem;
        right: -3.875rem;
    }

    &__heading {
        width: 35.625rem;
        padding-top: 12.575rem;
        line-height: 1.6;
        margin-bottom: 4.25rem;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        width: 18.75rem;
        font-size: 1.125rem;
        line-height: 6rem;
        padding-left: 1.75rem;

        &:not(.s5__form-input--last) {
            border-right: none;
        }
    }

    &__submit-button {
        line-height: 6rem;
        width: 18.75rem;
    }
}

.s6 {
    padding-top: 9.5rem;
    padding-bottom: 9rem;

    &__heading {
        margin-bottom: 3.75rem;
    }

    &__step-item {
        padding: 1.875rem 1.5rem;
        height: fit-content;
        border-bottom: 0.0625rem solid $border-gray;
        position: relative;
        transition: $transition--normal;

        &:hover {
            background: $primary;
            color: white;

            .s6__step-image {
                visibility: visible;
                opacity: 1;
            }

            .s6__step-title {
                color: white;
            }

            .s6__step-descr {
                margin: 1.875rem 0 0 auto;
            }
        }
    }

    &__step-image {
        @include ibg;
        @include center-item-y;
        left: 8.125rem;
        width: 11.75rem;
        height: 11.75rem;
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        transition: inherit;
    }

    &__step-counter {
        font-weight: 600;
        font-size: 1.125rem;

        position: absolute;
        top: 1rem;
        left: 1.5rem;
    }

    &__step-title {
        max-width: 40.5625rem;
        font-weight: 500;
        font-size: 2rem;
        text-align: right;
        text-transform: uppercase;
        color: $text-gray;
        white-space: pre-line;
        margin: 0 0 0 auto;
        transition: inherit;
    }

    &__step-descr {
        text-align: right;
        max-width: 33rem;
        margin: 0 0 0 auto;
        overflow: hidden;
        color: white;
        transition: inherit;
    }
}

.s7 {
    padding-top: 9rem;
    padding-bottom: 6.25rem;

    &__heading {
        font-size: 7.87rem;
        text-align: center;
        position: relative;
        left: -0.8rem;
        z-index: 2;
    }

    &__team-image {
        @include ibg;
        height: 43.8125rem;
        margin-top: -1.6rem;
    }

    &__figcaption {
        height: 5.25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 0.0625rem solid $border-cadet;

        color: #0d0d0d;
    }
}
