mixin Button
	-
		const { tag, outline, primary, secondary } = Component(attributes, {
			tag: { type: String, default: 'button' },
			outline: { type: Boolean, default: false },
			primary: { type: Boolean, default: false },
			secondary: { type: Boolean, default: false },
		})

		const classes = {
			'button--primary': primary, 
			'button--secondary': secondary, 
			'button--outline': outline, 
		}

	#{tag}.button(class=classes)&attributes(attributes)
		block 
