footer.footer 
    .container
        .footer__row
            .footer__logo: +LogoSvg

            .footer__personal-links 
                a(href="#") Обработка персональных данных
                a(href="#") Политика конфиденциальности
                a(href="#") Условия использования