footer.footer 
    .container
        .footer__row
            a.footer__logo(href="/"): +LogoSvg

            .footer__personal-links 
                a(href="#") Обработка персональных данных
                a(href="#") Политика конфиденциальности
                a(href="#") Условия использования