-
    const headerLinksList = [
        {
            label: 'О нас',
            href: '/index.html#section-about',
        },
        {
            label: 'Услуги',
            href: '/index.html#section-services',
        },
        {
            label: 'Проекты',
            href: '/index.html#section-projects',
        },
        {
            label: 'Команда',
            href: '/index.html#section-team',
        },
        {
            label: 'Контакты',
            href: '/index.html#section-contacts',
        },
    ]

mixin headerLinksList(isScrollable)
    nav.header__navigation&attributes(attributes)
        ul.header__links
            each link, idx  in headerLinksList
                - const { href, label } = link
                - const attrs = { href, 'data-uk-scroll': isScrollable }
                li.header__link-item: a.header__link&attributes(attrs)= label


mixin menu
    .header__menu.menu
        a.header__menu-icon.menu-icon(href="#") #[i]#[i]#[i]
        .header__menu-drop.menu-drop(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .header; boundary-align: true; animation: uk-animation-slide-top-small; duration: 300")
            block

mixin Header 
    -
        const { sticky } = Component(attributes, {
            sticky: { type: Boolean, default: false },
        })

        if (sticky) attributes['data-uk-sticky'] = 'top: 90vh; animation: uk-animation-slide-top'

    header&attributes(attributes)
        block

//- Template
mixin headerDefault
    -
        const { scrollableMenu, clickableLogo } = Component(attributes, {
            scrollableMenu: { type: Boolean, default: false },
            clickableLogo: { type: Boolean, default: true },
        })

    +Header.header(sticky)
        .container 
            .header__row
                if clickableLogo
                    a.header__logo(href="/"): +LogoSvg
                else 
                    .header__logo: +LogoSvg


                +menu
                    +headerLinksList(scrollableMenu)

                +headerLinksList(scrollableMenu).d-none.d-lg-block

                +Button.header__callback-button(href=phoneLink tag="a" outline primary)= phoneNumber

mixin headerInternal
    -
        const { backUrl } = Component(attributes, {
            backUrl: { type: String, default: '/index.html' },
        })

    .header-internal
        .container.header-internal__container 
            a(href=backUrl): +ArrowRightSvg.header-internal__arrow
