-
    const headerLinksList = [
        {
            label: 'О нас',
            href: '#section-about',
        },
        {
            label: 'Услуги',
            href: '#section-services',
        },
        {
            label: 'Проекты',
            href: '#section-projects',
        },
        {
            label: 'Команда',
            href: '#section-team',
        },
        {
            label: 'Вакансии',
            href: '#section-vacancies',
        },
        {
            label: 'Контакты',
            href: '#section-contacts',
        },
    ]

mixin headerLinksList
    nav.header__navigation&attributes(attributes)
        ul.header__links
            each link, idx  in headerLinksList
                li.header__link-item: a.header__link(href=link.href title=link.label data-uk-scroll)= link.label


mixin menu
    .header__menu.menu
        a.header__menu-icon.menu-icon(href="#") #[i]#[i]#[i]#[i]
        .header__menu-drop.menu-drop(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .header; boundary-align: true; animation: uk-animation-slide-top-small; duration: 300")
            block

mixin Header 
    -
        const { sticky } = Component(attributes, {
            sticky: { type: Boolean, default: false },
        })

        if (sticky) attributes['data-uk-sticky'] = 'top: 90vh; animation: uk-animation-slide-top'

    header&attributes(attributes)
        block

//- Template

+Header.header(sticky)
    .container 
        .header__row
            .header__logo: +LogoSvg

            +menu
                +headerLinksList

            +headerLinksList.d-none.d-lg-block

            +Button.header__callback-button(href=phoneLink tag="a" outline primary)= phoneNumber