extends layout/_layout

prepend head
	title Реализованные проекты
	meta(name="description" content="Реализованные проекты")

block content
	+headerInternal

	section.s12
		.container 
			h1.internal-page.s12__title Реализованные#[br] проекты

			+casesSlider

	+internalFormSection(context="Заявка на странице кейсов")
