extends layout/_layout

prepend head
	title Реализованные проекты
	meta(name="description" content="Реализованные проекты")

block header 
	+headerInternal

block content
	section.s12
		.container 
			h1.internal-page.s12__title Реализованные#[br] проекты

			+casesSlider
