extends layout/_layout

prepend head
	title Цифровизация девелопмента
	meta(name="description" content="Помогаем девелоперам оптимизировать и автоматизировать бизнес-процессы с помощью современных IT-решений")

block content
	section.s1
		.s1__bg: +picture-min(jpg, 's1-bg', 'l')

		.container
			h1.s1__heading #[span.text-primary Цифровизация] девелопмента

			p.s1__subtitle Помогаем девелоперам оптимизировать и автоматизировать бизнес-процессы с помощью современных IT-решений

			+Button.s1__target-button(primary type="button") Оставить заявку

	section.s2 
		.container 
			h2.first-primary.s2__heading О компании

			.s2__hero-image: +picture-min(jpg, 's2-hero', 'l')

			ul.s2__list
				li.s2__list-item.s2__list-item--1
					.s2__list-item_number 8
					.s2__list-item_text лет внедряем цифровые решения в девелопменте
				li.s2__list-item.s2__list-item--2
					.s2__list-item_number 79
					.s2__list-item_text млрд ₽ помогли заработать девелоперам за все время
				li.s2__list-item.s2__list-item--3
					.s2__list-item_number 20
					.s2__list-item_text лет в строительной сфере на федеральном уровне
					+Button.s2__list-item_button(primary type="button") Заказать консультацию

	section.s3 
		.container 
			h2.first-primary.s3__heading Услуги

			ul.s3__breadcrumbs
				li.s3__breadcrumb.s3__breadcrumb--has-slash: span(data-text="сайты") сайты
				li.s3__breadcrumb.s3__breadcrumb--has-slash: span(data-text="Моб. приложения") Моб. приложения
				li.s3__breadcrumb: span(data-text="it-инфраструктура") it-инфраструктура
				li.s3__breadcrumb.s3__breadcrumb--has-slash.s3__breadcrumb--slash-narrow: span(data-text="Бизнес-аналитика") Бизнес-аналитика
				li.s3__breadcrumb.s3__breadcrumb--has-slash.s3__breadcrumb--slash-narrow: span(data-text="1С-предприятие") 1С-предприятие
				li.s3__breadcrumb: span(data-text="IP-телефония") IP-телефония
				li.s3__breadcrumb.s3__breadcrumb--has-slash: span(data-text="ЭДО") ЭДО
				li.s3__breadcrumb.s3__breadcrumb--has-slash: span(data-text="Умный дом") Умный дом
				li.s3__breadcrumb.s3__breadcrumb--has-slash: span(data-text="CRM") CRM
				li.s3__breadcrumb: span(data-text="дизайн") дизайн

			.s3__preview-image-wrap
				+StarSvg.s3__preview-star
				.s3__preview-image: +picture(jpg, 's3-i1', 'l')
				.s3__preview-text Мы предлагаем разработку современных сайтов, которые помогут вывести бизнес на новый уровень