extends layout/_layout

prepend head
	title Разработка сайтов для девелоперов
	meta(name="description" content="Разработка сайтов для девелоперов")

block header 
	header

block content
	section.s12 
		.container 
			h1.s12__title Разработка сайтов для девелоперов
