+Modal#thanks
    .thanks__body
        .thanks__title Заявка отправлена
        .thanks__subtitle Менеджер перезвонить вам в ближайшее время и ответит на все ваши вопросы

        +Button.thanks__button.uk-modal-close(primary type="button" noArrow) Отлично
